.mauxanh {
    color: blue;
}
.to {
    width: 20%;
}
.table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.td, th{
    border: 1px siold #dddddd;
    text-align: left;
    padding: 8px;
}
.tr {
    background-color: dimgrey;
}
